.login-btn{
    -fx-background-color: #f53827;
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.login-btn:hover{
    -fx-background-color: #f12716;
}
.btnCloseWindow{
    -fx-opacity: 50%;
}
.btnCloseWindow:hover{
    -fx-background-color: #ff5b4d;
    -fx-background-radius:5px;
    -fx-opacity: 90%;
}
.btnMinimizeWindow{
    -fx-opacity: 50%;
}
.btnMinimizeWindow:hover{
    -fx-background-color: #ccc;
    -fx-background-radius:5px;
    -fx-opacity: 90%;
}
