.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4px;
    -fx-border-color:#000;
    -fx-border-width:.4px;
    -fx-border-radius:4px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";

}
.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-width:.8px;
}

.login-btn{
    -fx-background-color: #f53827;
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.login-btn:hover{
    -fx-background-color: #f12716;
}
.btnCloseWindow{
    -fx-opacity: 50%;
}
.btnCloseWindow:hover{
    -fx-background-color: #ff5b4d;
    -fx-background-radius:5px;
    -fx-opacity: 90%;
}
.btnMinimizeWindow{
    -fx-opacity: 50%;
}
.btnMinimizeWindow:hover{
    -fx-background-color: #ccc;
    -fx-background-radius:5px;
    -fx-opacity: 90%;
}
